$config = {
  color: {
    base: silver,
    base-dark: darken(silver, 20%)
    base-light: lighten(silver, 20%)
    primary: darkturquoise
    primary-dark: darken(darkturquoise, 20%)
    primary-light: lighten(darkturquoise, 20%)
    secondary: darkorange
    secondary-dark: darken(darkorange, 20%)
    secondary-light: lighten(darkorange, 20%)
    attention: tomato
    warning: yellow
    error: tomato
    red: lightcoral
    blue: lightskyblue
  }
  color-text: {
    primary: alpha(black, 0.9)
    secondary: alpha(black, 0.8)
    disabled: alpha(black, 0.6)
    link: cornflowerblue
  }
}
