body
  background-color whitesmoke
  -webkit-overflow-scrolling touch

h1, h2, h3, h4, h5, h6
p
a
div
pre
span
input
li
select
textarea
  text-decoration none
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

#minor-publishing-actions
  display none

#qt_content_strong
#qt_content_em
#qt_content_link
#qt_content_block
#qt_content_del
#qt_content_ins
#qt_content_img
#qt_content_ul
#qt_content_ol
#qt_content_li
#qt_content_code
#qt_content_more
#qt_content_spell
#qt_content_close
#qt_content_fullscreen
  display none

#tinymce
  opacity 0
