.container\\:action

  .block\\:home
    position fixed
    bottom 40px
    right 50px
    width 80px
    height 80px
    border-bottom none
    color ui-color(primary)
    transition-duration 200ms
    z-index 400
    &:hover
      transform rotate(360deg)
    img
      width 100%

