.container\\:content
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  overflow-x hidden
  &.responsive
    left 0
    width 100%

.text-page-copyright
  padding 20px 10px
  text-align center
  font-size 1rem
  &:hover
    background-color alpha(ui-color(primary), 0.2)

// トランジション

.block-page-transition
  padding-right 20px
  width calc(100% + 20px)
  height 100%
  overflow-y scroll

  .transition-page-enter
    position absolute
    top 0
    left 0
    height 100%
    opacity 0.01
    transform scale(0.8)
    transition-duration 500ms
    &.transition-page-enter-active
      opacity 1
      transform scale(1)
      transition-duration 500ms

  .transition-page-leave
    position absolute
    top 0
    left 0
    height 100%
    opacity 1
    transform translateY(1)
    transition-duration 500ms
    &.transition-page-leave-active
      opacity 0.01
      transform scale(1.05)
      transition-duration 500ms

  .transition-page-appear
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0.01
    &.transition-page-appear-active
      opacity 1
      transition-duration 500ms
