.container\\:header
  position fixed
  top 0
  left 0
  width 100%
  height 80px
  background-color pink
  font-weight bold
  transition-duration 200ms
  overflow hidden
  z-index 200
  &.responsive
    left 0
    width 100%

  // タイトル

  .text-header-title
    width 100%
    height 100%
    line-height 80px
    text-align center
    color white
    font-size 1.4rem
    font-weight normal
    transition-duration 200ms

  // トラジション

  .block-header-transition
    height 80px

  .transition-enter
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0.01
    transform translateY(100%)
    &.transition-enter-active
      opacity 1
      transform translateY(0)
      transition-duration 400ms

  .transition-leave
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 1
    transform translateY(0)
    &.transition-leave-active
      opacity 0.01
      transform translateY(100%)
      transition-duration 400ms

  .transition-appear
    opacity 0.01
    transform translateY(100%)
    &.transition-appear-active
      opacity 1
      transform translateY(0)
      transition-duration 1000ms
      transition-timing-function ease-in

.container\\:header.isHide
  transform translateY(-100%)
  .block-line
    width 100%

.container\\:header.isMinimal
  height 30px
  .text-header-title
    line-height 30px
    font-size 0.8rem
    background-color ui-color(primary)
    color white
