.container\\:home
  position fixed
  top 0
  left 0
  width 100%
  height 100%

  // タイトル

  .block\\:app-title
    display block
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin auto
    width 100%
    max-width 400px
    height 80px
    border none
    cursor pointer
    &:hover
      .block\\:circle
        width 180px
        height 180px

    .text\\:app-title
      line-height 60px
      font-size 1.8rem
      text-align center
      letter-spacing 0.5rem
      color salmon
      +responsive(landscape)
        font-size 2.4rem

    .text\\:app-url
      line-height 20px
      font-size 0.8rem
      text-align center
      letter-spacing 0.4rem
      color salmon
      opacity 0.8

    .block\\:circle
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      width 160px
      height 160px
      border-radius 50%
      background-color coral
      opacity 0.15
      box-shadow 0 0 8px 2px alpha(black, 0.15)
      transition-duration 200ms

  // リンク

  .block\\:links
    display block
    position absolute
    top 100px
    left 0
    margin auto
    width 100%
    +responsive(landscape, smartphone)
      top 40px

  // いちごみるく団について

  .input\\:about
  .input\\:member
  .input\\:rule
    display inline-block
    position relative
    width 200px
    height 40px
    border-bottom none
    cursor pointer
    +responsive(portrait)
      width 180px

    .text\\:name
      line-height 40px
      font-weight bold
      text-align center
      color orangered
      transition-duration 150ms
      +responsive(portrait)
        font-size 1.1rem

    .icon\\:hatena
      position absolute
      top 10px
      left 20px
      color lightpink
      font-size 80px
      transform rotate(-10deg)
      z-index -1

    .block\\:circle
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      width 80px
      height 80px
      border-radius 50%
      background-color coral
      transition-duration 150ms
      opacity 0.4
      box-shadow 0 0 8px 2px alpha(black, 0.15)
      &:hover
        width 90px
        height 90px
        opacity 0.2

  // スマートフォン

  .input\\:about
    +responsive(portrait)
      position fixed
      top 80px
      left 20px

  .input\\:member
    +responsive(portrait)
      position fixed
      top 140px
      right 0

  .input\\:rule
    +responsive(portrait)
      position fixed
      top 30px
      right 10px

  // QRコード

  .block\\:qr
    position absolute
    bottom 40px
    left 40px
    margin auto
    width 140px
    height 180px

    .text\\:qr-title
      width 100%
      line-height 40px
      text-align center
      font-size 0.95rem
      font-weight bold
      color ui-color(primary)

    .image\\:qr
      margin 0 auto
      width 140px
      height 140px
      border 1px solid alpha(black, 0.4)

  // ニュース

  .block\\:news
    position fixed
    bottom 80px
    left 20px
    width 280px
    height 120px
    +responsive(landscape)
      width 400px
      bottom 280px
    +responsive(landscape, smartphone)
      bottom 60px
      height 60px
    +responsive(portrait)
      height 60px

    .block\\:news-item
      height 60px

    .text\\:news-date
      line-height 20px
      opacity 0.8

    .text\\:news-content
      height 30px
      line-height 30px
      font-weight bold

  // Twitter

  .text\\:twitter
    position absolute
    right 40px
    bottom 40px
    margin auto
    width 80px
    height 80px
    border none
    border-radius 50%
    &:hover
      background-color lightblue

      .image\\:twitter
        width 100%

    +responsive(portrait)
      right 20px
      bottom 60px

    .image\\:twitter
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      width 95%
      max-width 100px
      transition-duration 150ms

  // コピーライト

  .text\\:copyright
    position absolute
    left 0
    bottom 20px
    width 100%
    line-height 30px
    text-align center
    font-size 0.8rem
    color orangered
