.container\\:member
  position relative
  width 100%
  min-height 100%
  padding-top 80px

  .block\\:member-list
    ui-block()

  // 名前

  .block\\:name

    .text\\:type
      line-height 30px
      font-size 1.1rem
      font-weight bold
      color ui-color(primary)

    .text\\:name
      line-height 30px
      font-size 1.4rem
      font-weight bold
      color ui-color(primary)

  // twitter

  .block\\:twitter
    display block
    font-size 1.2rem
    border-bottom none
    &:hover
      opacity 0.6

    .image\\:twitter
      display inline-block
      vertical-align middle
      max-width 50px

    .text\\:at
      display inline-block
      vertical-align middle
      line-height 30px
      font-size 1.2rem
      color ui-text-color(link)

    .text\\:twitter
      display inline-block
      vertical-align middle
      padding-left 5px
      line-height 30px
      font-size 1.2rem
      color ui-text-color(link)

  .text\\:description
    p
      padding 0

  // キャスト

  .block\\:cast
    ui-block()

    .text\\:cast-name
      line-height 30px
      font-size 1.4rem
      font-weight bold
      color ui-color(primary)

    .text\\:description
      padding 10px 0

    .image\\:twitter
      max-width 30px

  // コピーライト

  .block\\:copyright
    ui-block()

    .text\\:copyright
      width 100%
      line-height 30px
      text-align center
      font-size 0.8rem
      color orangered
