.container\\:not-found
  a
    display block
    position fixed
    margin auto
    top 0
    right 0
    bottom 0
    left 0
    width 280px
    height 30px
  .text\\:not-found
    line-height 30px
    text-align center
    color tomato
    &:hover
      color orangered
