.container\\:plaza
  position relative
  width 100%
  min-height 100%
  padding-top 80px

  // 画像

  .block\\:icon-list
    margin 0 auto
    max-width 800px
    display flex
    flex-wrap wrap
    justify-content center
    align-items center

  .block\\:free-icon
    padding 10px
    cursor pointer
    &:hover
      opacity 0.4

    .image\\:free-icon
      margin 0 auto
      max-width 80px
      border-radius 2px
      +responsive(landscape)
        max-width 140px

  .block\\:viewer
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color alpha(white, 0.9)
    user-select none

    .image\\:free-icon
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      width 90%
      max-width 400px
      border 2px solid alpha(black, 0.4)

    .icon\\:close
      position absolute
      bottom 80px
      left 0
      right 0
      margin auto
      width 65px
      height 65px
      text-align center
      line-height 65px
      font-size 90px
      border-radius 50%
      cursor pointer
      user-select none
      transition-duration 150ms
      +responsive(portrait)
        bottom 30px
      &:hover
        color ui-color(primary)

  // コピーライト

  .block\\:copyright
    ui-block()

    .text\\:copyright
      width 100%
      line-height 30px
      text-align center
      font-size 0.8rem
      color orangered
