.container\\:rule
  position relative
  width 100%
  min-height 100%
  padding-top 80px

  // 画像

  .block\\:main-image
    ui-block()

    .image\\:main
      margin 0 auto
      max-width 500px

  .block\\:rule-title
    ui-block()

    .text\\:rule-title
      text-align center

  // コンテンツ

  .text\\:wordpress-content
    ui-block-wordpress()

  .block\\:qr
    ui-block()

    .text\\:qr-title
      line-height 40px
      text-align center
      font-size 1.1rem
      font-weight bold

    .image\\:qr
      margin 0 auto
      max-width 280px
      border 1px solid alpha(black, 0.4)

  // コピーライト

  .block\\:copyright
    ui-block()

    .text\\:copyright
      width 100%
      line-height 30px
      text-align center
      font-size 0.8rem
      color orangered
