reset-app()

  *
    box-sizing border-box
    -webkit-overflow-scrolling touch

  html
  body
    margin 0
    -webkit-touch-callout none
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    -webkit-text-size-adjust none
    -webkit-overflow-scrolling touch
    font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif

  h1, h2, h3, h4, h5, h6
  p
  a
  div
  pre
  code
  span
  input
  button
  li
  select
  textarea
  strong
    text-decoration none
    letter-spacing 1.2px
    word-spacing 1px
    text-justify distribute-all-lines
    vertical-align baseline
    outline 0
    border 0
    border-radius 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    appearance none
    background-color rgba(0, 0, 0, 0)
    list-style none
    margin 0
    padding 0
    font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif

  p
  a
  div
  pre
  code
  input
  button
  li
  select
  textarea
    line-height 1.5rem
    font-size 1rem
    +responsive(portrait, smartphone)
      font-size 0.8rem

  input[type='text']
  textarea
    cursor text
    resize none

  input[type='button']
  input[type='submit']
  button
    cursor pointer

  input[type='number']
    -moz-appearance: textfield

  input[type='number']::-webkit-outer-spin-button
  input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

  iframe
  img
  textarea
    display block
    width 100%

  ul
    padding-left 20px
