switch-color(color = primary)

  if (color == base)
    ($config['color']['base'])

  else if (color == base-dark)
    ($config['color']['base-dark'])

  else if (color == base-light)
    ($config['color']['base-light'])

  else if (color == primary)
    ($config['color']['primary'])

  else if (color == primary-dark)
    ($config['color']['primary-dark'])

  else if (color == primary-light)
    ($config['color']['primary-light'])

  else if (color == secondary)
    ($config['color']['secondary'])

  else if (color == secondary-dark)
    ($config['color']['secondary-dark'])

  else if (color == secondary-light)
    ($config['color']['secondary-light'])

  else if (color == accent)
    ($config['color']['accent'])

  else if (color == attention)
    ($config['color']['attention'])

  else if (color == warning)
    ($config['color']['warning'])

  else if (color == error)
    ($config['color']['error'])

  else if (color == red)
    ($config['color']['red'])

  else if (color == blue)
    ($config['color']['blue'])

  else
    ($config['color']['primary'])

switch-text-color(color = primary)

  if (color == primary)
    ($config['color-text']['primary'])

  else if (color == secondary)
    ($config['color-text']['secondary'])

  else if (color == disabled)
    ($config['color-text']['disabled'])

  else if (color == link)
    ($config['color-text']['link'])

  else
    ($config['color-text']['primary'])
