@charset "UTF-8";

/*	Theme Name: wordpress
		Description: wordpress theme
		Theme URI: https://bitbucket.org/sankaku-io/
		Author: sankaku.io
		Author URI: https://bitbucket.org/sankaku-io/
		Version: 1.0.0
		License: LGPL
		License URI: https://www.gnu.org/copyleft/lesser.html
		Tags: white
*/

html, body {
  margin: 0
}

.container\:init {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 120px
}

.container\:init .block\:front,
.container\:init .block\:back {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: pink;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce-animation 2000ms infinite ease-in-out;
  animation: bounce-animation 2000ms infinite ease-in-out;
  z-index: 100
}

.container\:init .block\:front {
  -webkit-animation-delay: -1000ms;
  animation-delay: -1000ms
}

@-webkit-keyframes bounce-animation {
  0%, 100% {
    -webkit-transform: scale(0.4)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes bounce-animation {
  0%, 100% {
    transform: scale(0.2);
    -webkit-transform: scale(0.4)
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.0)
  }
}
