responsive(type = landscape, width = null)

  if type == landscape && width == smartphone
    @media (orientation: landscape) and (max-width: 740px)
      {block}
  else if type == landscape && width == default
    @media (orientation: landscape) and (min-width: 740px)
      {block}
  else if type == landscape && width == null
    @media (orientation: landscape)
      {block}
  else if type == portrait && width == smartphone
    @media (orientation: portrait) and (max-width: 420px)
      {block}
  else if type == portrait && width == default
    @media (orientation: portrait) and (min-width: 420px)
      {block}
  else if type == portrait && width == null
    @media (orientation: portrait)
      {block}

  else if type == smartphone && width == null
    @media (orientation: landscape) and (max-width: 740px)
      {block}
    @media (orientation: portrait) and (max-width: 420px)
      {block}

  else if type == iPhone6Plus && width == null // iPhone 6 plus (width = 736)
    @media only screen and (device-width: 736px) and (device-height: 736px)
      {block}

  else if type == landscape && width == iPhone6Plus
    @media only screen and (device-width: 736px)
      {block}

  else if type == portrait && width == iPhone6Plus
    @media only screen and (device-height: 736px)
      {block}

  else if type == iPhone6 && width == null // iPhone 6 (width = 667)
    @media (device-height: 667px)
      {block}

  else if type == portrait && width == iPhone6
    @media (orientation: portrait) and (device-height: 667px)
      {block}

  else if type == landscape && width == iPhone6
    @media (orientation: landscape) and (device-height: 667px)
      {block}

  else if type == iPhone5 && width == null  // iPhone 5 (width = 568)
    @media (device-width: 568px), (device-height: 568px)
      {block}

  else if type == portrait && width == iPhone5
    @media only screen and (device-height: 568px)
      {block}

  else if type == landscape && width == iPhone5
    @media only screen and (device-width: 568px)
      {block}
