@import 'design'

init-color({
  base: darkgray
  primary: salmon
  secondary: darkorange
  attention: tomato
  warning: yellow
  error: tomato
  red: lightcoral
  blue: lightskyblue
})

init-color-text({
  primary: alpha(black, 0.75)
  secondary: orangered
  disabled: alpha(black, 0.6)
  link: cornflowerblue
})

@import 'containers/*'

reset-app()

reset-text()

html
  background-color #fffffc
  +responsive(portrait)
    background-color floralwhite

.wordpress-content
  line-height 1.5rem
  p
    padding 10px

  ul
    padding 0

  li
    padding 10px

  h3
    padding 20px
    text-align center
