ui-actions(res = {})

  $size = res['size'] || 4

  margin auto
  bottom 10px
  left 0
  right 0
  if ($size)
    width 100px * $size
  else
    width calc(100% - 20px)
  height 25px
  border-radius 1px
  background-color rgba(0 0 0 0.05)
  overflow hidden

ui-actions-bottom(res = {})

  $size = res['size'] || 4

  if ($size)
    width 100px * $size
  else
    width calc(100% - 20px)
  height 25px
  border-radius 1px
  background-color rgba(0 0 0 0.05)
  overflow hidden

ui-actions-item(res = {})

  $color = res['color'] || primary

  display inline-block
  vertical-align top
  width 100px
  height 25px
  line-height 25px
  text-align center
  color switch-color($color)
  cursor pointer
  transition-duration 150ms
  &:hover
    color white
    background-color switch-color($color)

ui-actions-item-on(res = {})

  $color = res['color'] || primary

  display inline-block
  vertical-align top
  width 100px
  height 25px
  line-height 25px
  text-align center
  cursor pointer
  transition-duration 150ms
  color white
  background-color switch-color($color)
  &:hover
    color alpha(white, 0.8)
