ui-block(req = {})

  $type = req['type'] || null
  $color = req['color'] || false

  display block
  margin 0 auto
  padding 15px 10px
  width 100%
  max-width 600px
  border-bottom none
  transition-duration 200ms

  &:hover
    if ($type == none)
      background-color none
    else if ($type == input)
      background-color alpha(ui-color(secondary), 0.5)
    else if ($type == text)
      background-color whitesmoke
    else
      background-color none
      +responsive(smartphone)
        background-color alpha(ui-color(primary), 0.5)

ui-block-wordpress(req = {})

  $type = req['type'] || null
  $color = req['color'] || false

  display block
  margin 0 auto
  padding 0
  width 100%
  max-width 600px
  border-bottom none
  transition-duration 200ms

  p
  li
    padding 10px
    &:hover
      background-color alpha(ui-color(primary), 0.5)

  ul
    margin 0
    padding 0

  h3
    padding 20px
    text-align center
