ui-input-button(req = {})

  $color = req['color'] || primary
  $width = req['width'] || 120px

  display inline-block
  width $width
  height 30px
  line-height 30px
  text-align center
  color switch-color($color)
  background-color alpha(black, 0.05)
  cursor pointer
  border-radius 2px
  border-bottom none
  transition-duration 200ms

  &:hover
    color white
    background-color switch-color($color)

  &:active
    transform scale(1.02)
    +responsive(smartphone)
      transform scale(1.05)

ui-input-button-on(req = {})

  $color = req['color'] || primary
  $width = req['width'] || 120px

  display inline-block
  width $width
  height 30px
  line-height 30px
  text-align center
  color white
  background-color switch-color($color)
  cursor pointer
  border-radius 2px
  border-bottom none
  transition-duration 200ms

  &:hover
    color alpha(white, 0.8)
    background-color switch-color($color)

  &:active
    transform scale(1.02)
    +responsive(smartphone)
      transform scale(1.05)

ui-input-button-off(req = {})

  $color = req['color'] || primary
  $width = req['width'] || 120px

  display inline-block
  width $width
  height 30px
  line-height 30px
  text-align center
  color switch-color($color)
  background-color alpha(black, 0.05)
  cursor pointer
  border-radius 2px
  border-bottom none
  transition-duration 200ms

  &:hover
    color switch-color($color)
    background-color alpha(black, 0.1)

  &:active
    transform scale(1.02)
    +responsive(smartphone)
      transform scale(1.05)
