ui-input-number(req = {})

  $color = req['color'] || primary
  $width = req['width'] || 60px

  padding 5px 10px
  width $width
  height 30px
  line-height 20px
  text-align center
  background-color alpha(black, 0.05)
  border-radius 2px
  cursor pointer
  transition-duration 200ms

  &:placeholder-shown
    color alpha(ui-color(primary), 0.6)

  &:focus:placeholder-shown
    color alpha(white, 0.6)

  &::-webkit-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus::-webkit-input-placeholder
    color alpha(white, 0.6)

  &::-moz-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus:-moz-placeholder
    color alpha(white, 0.6)

  &:-ms-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus:-ms-input-placeholder
    color alpha(white, 0.6)

  &:hover
    background-color alpha(black, 0.1)

  &:focus
    cursor auto
    color white
    background-color ui-color(primary)

  &:active
    transform scale(1.02)
    +responsive(smartphone)
      transform scale(1.05)
