ui-input-textarea(req = {})

  $color = req['color'] || primary
  $line = req['line'] || 5
  $height = 1.5rem * $line

  padding 10px
  width 100%
  height 1.5rem * ($line + 1)
  line-height 1.5rem
  background-color alpha(black, 0.05)
  border-radius 2px
  cursor pointer
  transition-duration 200ms

  &:placeholder-shown
    color alpha(ui-color(primary), 0.6)

  &:focus:placeholder-shown
    color alpha(white, 0.6)

  &::-webkit-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus::-webkit-input-placeholder
    color alpha(white, 0.6)

  &::-moz-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus:-moz-placeholder
    color alpha(white, 0.6)

  &:-ms-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:focus:-ms-input-placeholder
    color alpha(white, 0.6)

  &:hover
    background-color alpha(black, 0.1)

  &:focus
    cursor auto
    color white
    background-color ui-color(primary)

  &:active
    transform scale(1.02)
    +responsive(smartphone)
      transform scale(1.05)
