ui-late-list(req = {})

  $number = req['number'] || 2

  vertical-align top
  width 25px * $number
  height 25px
  background-color alpha(black, 0.1)
  border-radius 1px

ui-late-item(req = {})

  $color = req['color'] || primary

  display inline-block
  vertical-align top
  width 25px
  height 25px
  text-align center
  line-height 25px
  color switch-color($color)
