ui-text-title(req = {})

  $size = req['size'] || L

  if ($size == L)
    height 40px
    line-height 40px
    font-size 40px
  else
    height 0.8rem
    line-height 0.8rem
    font-size 0.8rem

ui-text-link(req = {})
  color ui-text-color(link)
  border-bottom 2px dashed ui-text-color(link)
  &:hover
    border-bottom 2px solid ui-text-color(link)
